body {
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background: #30b990;
}

h1 {
  width: 260px;
  font-family: "Georgia", serif;
  font-size: 36px;
  line-height: 36px;
}

h2 {
  padding-bottom: 12px;
  border-bottom: 1px solid #cccccc;
}

.site-header {
  margin-bottom: 30px;
}

.skills-item {
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 10px solid #c4c4c4;
  color: #999999;
}

.standard {
  border-color: #01c542;
  color: #666666;
}

.vip {
  border-color: #007018;
  color: #000000;
}

.container {
  width: 480px;
  margin: 0 auto;
}

.site-header img {
  display: block;
  margin: 0 auto;
}

.features {
  margin-bottom: 30px;
}

.features p {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0 5px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
}

.feature-kitten {
  padding-top: 60px;
  background-image: url("img/healthcare.png");
}

.feature-cat {
  padding-top: 60px;
  background-image: url("img/life-saving.png");
}

.feature-train {
  padding-top: 60px;
  background-image: url("img/save-the-earth.png");
}

.skills-list {
  padding: 0;
  list-style: none;
}

/*Побажання*/

.wishes {
  margin-bottom: 30px;
  text-align: center;
}

#btn_health_wishes {
  background: #007018;
  color: #01c542;
  border: 5px solid #01c542;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 36px;
  cursor: pointer;
}

#p-health-wishes {
  height: 150px;
  font-size: 28px;
  line-height: 40px;
  color: #007018;
  text-align: justify;
}

.site-footer p {
  border: 1px solid #007018;
  padding: 10px 20px;
  border-radius: 10px 0px;
  background-color: #01c542;
  cursor: pointer;
}

.site-footer p:last-child {
  cursor: auto;
}

/*Галерея*/

#main-image {
  width: 300px;
  height: 200px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#left-arrow, #right-arrow {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#left-arrow:hover, #right-arrow:hover {
  box-shadow: 7px 7px 20px rgba(0, 255, 13, 0.5);
}
#left-arrow:active, #right-arrow:active {
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.6);
}

/*Вітаміни*/
#p-vitamins {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.vitamin {
  border: 1px solid rgb(124,124,124);
  margin:10px;
  padding:10px;
  border-radius: 5px;
  box-shadow: #666666 5px 5px 10px;
  width: 150px;
  height: 300px;
}